[user]
	email = m@mpc.sh
	name = Mark Cohen
[push]
	default = simple
[pull]
	rebase = true
[alias]
	co = checkout
	ci = commit
	dci = duet-commit
	ca = commit -a
	dca = duet-commit -a
	st = status
	staged = diff --cached
	stage = add
	unstage = reset HEAD
	unchange = checkout --
	push-please = push --force-with-lease
	ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 10
	la = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[advice]
	detachedHead = false
[help]
	autoCorrect = -1
[protocol "keybase"]
	allow = always
[color "status"]
	added = green
	changed = yellow
	untracked = red
[core]
	pager = less -FR
	fileMode = false
[url "git@github.com:"]
	insteadOf = gh://
[url "git@gitlab.com:"]
	insteadOf = gl://
[url "git@mit.cs.uchicago.edu:"]
	insteadOf = mit://
[url "git@mit.cs.uchicago.edu:cmsc22000-spr-19/"]
  insteadOf = 220://
[url "git@mit.cs.uchicago.edu:cmsc22000-spr-19-staging/"]
  insteadOf = 220S://
[color]
	status = always
	ui = always
