[user]
	email = git@mail.mpc.sh
	name = Mark Cohen
[includeIf "gitdir:work/"]
  path = ~/.gitconfig.work
[push]
	default = current
[pull]
	rebase = true
[alias]
	co = checkout
	ci = commit
	st = status
	staged = diff --cached
	unstage = restore --staged
	push-please = push --force-with-lease
	hist = log --graph --pretty=format:'%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s %C(green)(%ad)%C(reset) %C(blue)<%aN>%C(reset)' --date=format:'%Y-%m-%d %I:%M %p'
	hst = hist -n 10
	fixup = commit --amend --no-edit
	rewrite = rebase -i --committer-date-is-author-date
[advice]
	detachedHead = false
[help]
	autoCorrect = -1
[color "status"]
	added = green
	changed = yellow
	untracked = red
[core]
	excludesfile = ~/.gitignore_global
	pager = delta
	fileMode = false
[interactive]
	diffFilter = delta --color-only
[color]
	status = always
	ui = always
[url "git@github.com:"]
	insteadOf = gh://
[init]
	defaultBranch = main
[diff]
	colorMoved = default
[merge]
	conflictstyle = diff3
[fetch]
	prune = true
[include]
	path = ~/.config/delta/catppuccin.gitconfig
[delta]
	navigate = true
	features = catppuccin-mocha
