# peru
.peru

# tmux
tmux/.tmux/*

# nvim
nvim/.config/nvim/*
!nvim/.config/nvim/plugin
!nvim/.config/nvim/*.vim

# colorscheme
colors

# gnome :(
gtk-standard/.config/gtk-3.0/bookmarks
gtk-hidpi/.config/gtk-3.0/bookmarks

# weechat
weechat/.weechat/logs
