# peru
.peru

# tmux
tmux/.tmux/*

# nvim
nvim/.config/nvim/*
!nvim/.config/nvim/plugin
!nvim/.config/nvim/*.vim

# colorscheme
colors

# gnome :(
gtk-standard/.config/gtk-3.0/bookmarks
gtk-hidpi/.config/gtk-3.0/bookmarks

# weechat
weechat/.weechat/*
!weechat/.weechat/weechat.conf
!weechat/.weechat/buffers.conf
!weechat/.weechat/buflist.conf
!weechat/.weechat/irc.conf

# tekup
scripts/tekup
