[user]
	email = markpcohen@protonmail.com
	name = Mark Cohen
	signingkey = BD0B7F87
[credential]
	helper = store
[push]
	default = simple
[alias]
	co = checkout
	ci = commit -m
	ca = commit -am
	st = status
	br = branch
	cp = cherry-pick
	ls = log --oneline --decorate --graph --all
