!borders
URxvt*borderless: true
URxvt*internalBorder: 10
URxvt*externalBorder: 0

!scrolling
URxvt*scrollBar: false
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt*saveLines: 65535

!no bold fonts for you
URxvt*boldFont:
URxvt*italicFont:
URxvt*bolditalicFont:

!bar
barHeight: 36
barXOffset: 12
barYOffset: 12

!static colors
*background: #222222
*accent: #444444
*foreground: #aaaaaa
*cursorColor: #aaaaaa

!clickable URLs
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

!font rendering
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
