!font
*font: xft:M+1mn:size=12
*iconFont: xft:FontAwesome:size=12

!font rendering
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgba
