! font rendering
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgba

! for polybar, dmenu
font: xft:M+ 1mn:size=12
barHeight: 48

! hidpi
*dpi: 120
