[user]
	email = {{ b64dec "Z2l0QG1haWwubXBjLnNo" }}
	name = Mark Cohen
[includeIf "gitdir:work/"]
  path = ~/.config/git/config.work
[push]
	default = current
[pull]
	rebase = true
[alias]
	co = checkout
	ci = commit
	st = status
	staged = diff --cached
	unstage = restore --staged
	push-please = push --force-with-lease
	hist = log --graph --pretty=format:'%C(red)%h%C(reset)%C(yellow)%d%C(reset) %s %C(green)(%ad)%C(reset) %C(blue)<%aN>%C(reset)' --date=format:'%Y-%m-%d %I:%M %p'
	hst = hist -n 10
	fixup = commit --amend --no-edit
	rewrite = rebase --committer-date-is-author-date
[advice]
	detachedHead = false
[help]
	autoCorrect = -1
[color "status"]
	added = green
	changed = yellow
	untracked = red
[core]
	excludesfile = ~/.config/git/gitignore_global
	pager = delta
	fileMode = false
[interactive]
	diffFilter = delta --color-only --syntax-theme rose-pine-moon
[color]
	status = always
	ui = always
[url "git@github.com:"]
	insteadOf = gh://
[init]
	defaultBranch = main
[diff]
	colorMoved = default
[merge]
	conflictstyle = zdiff3
[fetch]
	prune = true
[delta]
	line-numbers = true
	navigate = true
	true-color = always
	file-style = bold brightwhite
	file-decoration-style = bold brightwhite box
	line-numbers-left-style = black
	line-numbers-right-style = black
	line-numbers-zero-style = black
	line-numbers-minus-style = red
	line-numbers-plus-style = green
	minus-emph-style = black red
	plus-emph-style = black green
