[user]
	email = {{ b64dec "bWFyay5jb2hlbkBkaXNjb3JkYXBwLmNvbQ==" }}
[maintenance]
	repo = /Users/mpcsh/work/discord
	repo = /home/discord/work/discord
	repo = /home/discord/work/discord-slyncy-niv-mizzet
