[Unit]
Description=Automatically refresh DNS from https://api.opennicproject.org

[Timer]
OnBootSec=5min
OnUnitActiveSec=6h
Unit=opennic.service

[Install]
WantedBy=multi-user.target
