[Unit]
Description=Pacman mirrorlist update
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/reflector --protocol https --latest 25 --sort rate --save /etc/pacman.d/mirrorlist

[Install]
WantedBy=network-online.target
