[Unit]
Description=Pacman mirrorlist update
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/reflector --latest 25 --sort rate --save /etc/pacman.d/mirrorlist
TimeoutStopSec=180
KillMode=process
KillSignal=SIGINT

[Install]
WantedBy=network-online.target
