!wm
gaps: 12

!bar
barHeight: 48
barXOffset: 0
barYOffset: 0

!font
Xft.dpi: 192
*font: xft:M+1mn:size=10
*iconFont: xft:FontAwesome:size=10

!font rendering
Xft.antialias: true
Xft.autohint: false
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: none
Xft.rgba: rgba
